<head>
  <style type="text/css">
    #demo{
     background-color: #2f55d4;
    }
  </style>
</head>
<div class="container-fluid login-fluid clear-left clear-right">
  <div class="login-container">
    <!-- login header -->r
    </div>
    <!-- (end) login header -->

          <div class="clearfix"></div>

          <div class="padding-top-90"></div>

          <!-- login main -->
          <div class="login-main">
            <div class="w-login m-auto">
              <div class="row">
                <!-- login main desciptions -->
          <div class="col-md-6 col-sm-12 col-12 login-main-left">
            <img src="assets/img/banner-login.png">
          </div>
          <!-- login main form -->

          <div class="col-md-6 col-sm-12 col-12 login-main-right">
            <div class="row" style="padding-top: 10px" >
              <div class="col-sm-6 col-12 pr-7">
                <button (click)="NTV()" [ngClass]="{'test': newColor}" class="btn btn-secondary btn-login-facebook btnw w-100 float-left">
                  <span>Người tìm việc</span>
                </button>
              </div>
              <div class="col-sm-6 col-12 pl-7">
                <button (click)="DN()" [ngClass]="{'test2': newColor2}" class="btn btn-secondary btn-login-facebook btnw w-100 float-left">
                  <span>Doanh nghiệp</span>
                </button>
              </div>

              <form class="login-form reg-form" [formGroup]="userForm"  (ngSubmit)="register()" >
              <div class="login-main-header">
                <span id="status" style="color: red" class="alert alert-primary">{{status}}</span>
                <h3>Đăng Ký</h3>
              </div>
              <div class="input-div one">
                <label>Name</label>
                <div class="div lg-lable">
                  <input formControlName="name" type="text" class="input form-control-lgin">
                </div>
              </div>
              <div class="input-div one">
                <label>Username</label>
                <div class="div lg-lable">
                  <input formControlName="username" [formControl]="usernameFormControl" type="text" class="input form-control-lgin">
                </div>
              </div>
              <div class="input-div one">
                <label>Email</label>
                <div class="div lg-lable">
                  <input formControlName="email" [formControl]="emailFormControl" type="text" class="input form-control-lgin">
                  <p *ngIf="emailFormControl.hasError('required')"></p>
                </div>
              </div>
              <div class="input-div one">
                <label>Password</label>
                <div class="div lg-lable">
                  <input  formControlName="password" type="password" class="input form-control-lgin">
                </div>
              </div>
              <div class="form-group d-block frm-text">
                <a href="#" class="fg-login d-inline-block"></a>
                <a href="#" class="fg-login float-right d-inline-block">Bạn đã có tài khoản? Đăng Nhập</a>
              </div>
              <button type="submit" class="btn btn-primary float-right btn-login d-block w-100">Đăng Ký</button>
              <div class="form-group d-block w-100 mt-5">

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- (end) login main -->
  </div>

