table {
  width: 100%;
}
.img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.create-btn{
  height: 50px;
  width: 200px;
  color: white;
  text-align: center;
  background-color: green;
  left: 75%;
}
