<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="UserProfile">Hồ sơ cá nhân</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="createUserProfile">Cập nhập hồ sơ cá nhân</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="listEmploymentUnauthenticated">Hồ sơ chờ duyệt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="EmploymentDetail">Hồ sơ công ty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!checkLogin" routerLink="register">Đăng kí</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="EmploymentAuthentication">Ds công ty HĐ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="CreatePost">Tạo bài Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="PostOfEmployment">PostofMe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="AllPost">DS POST</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="register">Ds tài khoản</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" *ngIf="!checkLogin" routerLink="login" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Đăng nhập
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Đăng kí</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="formEmployment">Tạo hồ sơ công ty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="login">Đăng xuất</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>








