
<!--<div class="container-fluid fluid-nav" style="margin-top: -15px" style="background-color: #3b5998">-->
<!--  <div class="container cnt-tnar">-->
<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light tjnav-bar">-->
<!--      &lt;!&ndash; <a class="navbar-brand" href="#">Navbar</a> &ndash;&gt;-->
<!--      <a href="#" class="nav-logo">-->
<!--        <img src="assets/img/techjobs_bgb.png">-->
<!--      </a>-->
<!--      <button class="navbar-toggler tnavbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        &lt;!&ndash; <span class="navbar-toggler-icon"></span> &ndash;&gt;-->
<!--        <i class="fa fa-bars icn-res" aria-hidden="true"></i>-->

<!--      </button>-->

<!--      <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--        <ul class="navbar-nav mr-auto tnav-left tn-nav">-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Việc Làm </a>-->
<!--          </li>-->
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--              Công ty-->
<!--            </a>-->
<!--            <div class="dropdown-menu tdropdown" aria-labelledby="navbarDropdown1">-->
<!--              <a class="dropdown-item" href="#">Danh sách công ty</a>-->
<!--              <a class="dropdown-item" href="#">Top công ty</a>-->
<!--            </div>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" *ngIf="roleUser" routerLink="UserProfile">Thông tin cá nhân</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" *ngIf="roleUser" routerLink="createUserProfile">Cập nhập trang cá nhân</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" *ngIf="roleUser" routerLink="AllPost">Danh sách tuyển dụng</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" *ngIf="roleUser" routerLink="notify">Thông báo</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" *ngIf="roleEmployment" routerLink="EmploymentDetail">Thông tin công ty</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" *ngIf="roleEmployment" routerLink="formEmployment">Cập nhật thông tin công ty</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" *ngIf="roleEmployment" routerLink="PostOfEmployment">Tin tuyển dụng</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" *ngIf="roleEmployment" routerLink="CreatePost"> Đăng tin tuyển dụng</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" *ngIf="roleAdmin" routerLink="listEmploymentUnauthenticated">Danh sách chờ duyệt</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" *ngIf="roleAdmin" routerLink="EmploymentAuthentication">Danh sách công ty hoạt động</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" *ngIf="roleAdmin" routerLink="allUser">Danh sách tài khoản</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--        <ul class="navbar-nav mr-auto my-2 my-lg-0 tnav-right tn-nav">-->
<!--          <li *ngIf="!checkLogin"  class="nav-item">-->
<!--            <a class="nav-link" routerLink="register">Đăng Ký</a>-->
<!--          </li>-->
<!--          <li *ngIf="!checkLogin" class="nav-item">-->
<!--            <a class="nav-link" routerLink="login">Đăng Nhập</a>-->
<!--          </li>-->
<!--          <li *ngIf="checkLogin" class="nav-item">-->
<!--            <a (click)="removeLogin()" class="nav-link" routerLink="login">Đăng Xuất</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link btn-employers" href="#" tabindex="-1" aria-disabled="true">Nhà Tuyển Dụng</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </nav>-->
<!--  </div>-->
<!--</div>-->


<div class="container-fluid fluid-nav" style="margin-top: -15px" style="background-color: #3b5998">
  <div class="container cnt-tnar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light tjnav-bar">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <a href="#" class="nav-logo">
        <img src="assets/img/techjobs_bgb.png">
      </a>
      <button class="navbar-toggler tnavbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars icn-res" aria-hidden="true"></i>

      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto my-2 my-lg-0 tnav-right tn-nav">
          <li *ngIf="!checkLogin" class="nav-item">
            <a class="nav-link" routerLink="register">Đăng Ký</a>
          </li>
          <li *ngIf="!checkLogin" class="nav-item">
            <a class="nav-link" routerLink="login">Đăng Nhập</a>
          </li>
          <li *ngIf="roleEmployment" class="nav-item dropdown">
            <a class="nav-link btn-employers" href="#" tabindex="-1" aria-disabled="true" id="navbarDropdown2"
               data-toggle="dropdown">Xin chào {{value}}</a>
            <div class="collapse show" aria-labelledby="navbarDropdown2">
              <div class="dropdown-menu tdropdown" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Hồ sơ nhà tuyển dụng</a>
                <a class="dropdown-item" href="#">Danh sách bài đăng</a>
                <a class="dropdown-item" href="#">Đăng tin mới</a>
                <a class="dropdown-item" href="#">Đăng xuất</a>
              </div>
            </div>
          </li>

          <li *ngIf="roleUser" class="nav-item dropdown">
            <a class="nav-link btn-employers" href="#" tabindex="-1" aria-disabled="true" id="navbarDropdown3"
               data-toggle="dropdown">Người Dùng</a>
            <div class="collapse show" aria-labelledby="navbarDropdown3">
              <div class="dropdown-menu tdropdown" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Thông tin cá nhân</a>
                <a class="dropdown-item" href="#">Cập nhập thông tin cá nhân</a>
                <a class="dropdown-item" href="#">Thông báo</a>
                <a class="dropdown-item" href="#">Đăng xuất</a>
              </div>
            </div>
          </li>
          <li *ngIf="roleAdmin" class="nav-item dropdown">
            <a class="nav-link btn-employers" href="#" tabindex="-1" aria-disabled="true" id="navbarDropdown4"
               data-toggle="dropdown">Admin</a>
            <div class="collapse show" aria-labelledby="navbarDropdown3">
              <div class="dropdown-menu tdropdown" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Thông tin cá nhân</a>
                <a class="dropdown-item" href="#">Cập nhập thông tin cá nhân</a>
                <a class="dropdown-item" href="#">Thông báo</a>
                <a class="dropdown-item" href="#">Đăng xuất</a>
              </div>
            </div>
          </li>
          <li *ngIf="checkLogin" class="nav-item">
            <a (click)="removeLogin()" class="nav-link" routerLink="login">Đăng Xuất</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>










