:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.navbar navbar-expand-lg navbar-light bg-light tjnav-bar div ul .nav-item .nav-link {
  background-image: linear-gradient(red, orange);
  border-radius: 10px;
}
