<div class="container-fluid jb-wrapper">
  <div class="container">
    <div class="row">
      <!-- job board -->
      <div class="col-md-8 col-sm-12 col-12">
        <div class="job-board-wrap">
          <h2 class="widget-title">
            <span>Danh sách tin tuyển dụng</span>
          </h2>
          <div class="job-group">
            <div class="job pagi" *ngFor="let a of recruitmentPosts">
              <div class="job-content">
                <div class="job-logo">
                  <a [routerLink]="['/detail-recruitmentPost',a.id]">
                    <img src="{{a.logo}}" class="job-logo-ima" alt="job-logo">
                  </a>
                </div>

                <div class="job-desc">
                  <div class="job-title">
                    <a [routerLink]="['/detail-recruitmentPost',a.id]">{{a.title}}</a>
                  </div>
                  <div class="job-company">
                    <a [routerLink]="['/EmploymentDetail']">{{a.nameEmployer}}</a> |<a href="#" class="job-address"><i
                    class="fa fa-map-marker" aria-hidden="true"></i>
                    {{a.location}}</a>
                  </div>

                  <div class="job-inf">
                    <div class="job-main-skill">
                      <i class="fa fa-code" aria-hidden="true"></i> <a href="#">{{a.skill}}</a>
                    </div>
                    <div class="job-salary">
                      <i class="fa fa-money" aria-hidden="true"></i>
                      <span *ngIf="checkLogin1" class="salary-min">{{a.maxSalary}}<em
                        class="salary-unit">triệu</em></span>
                      <span *ngIf="checkLogin1" class="salary-max">{{a.minSalary}}<em
                        class="salary-unit">triệu</em></span>
                      <span [routerLink]="['/login']" *ngIf="!checkLogin1" class="salary-max">Đăng nhập để nhìn thấy mức lương</span>
                    </div>
                    <div class="job-deadline">
                      <span><i class="fa fa-clock-o"
                               aria-hidden="true"></i>  Hạn nộp: <strong>{{a.date}}</strong></span>
                    </div>
                  </div>
                </div>
                <div class="wrap-btn-appl">
                  <a *ngIf="checkLogin==1" href="#" class="btn btn-appl">Nộp đơn ngay</a>
                  <a *ngIf="checkLogin==3" [routerLink]="['/login']" class="btn btn-appl">Đăng nhập để nộp đơn</a>
                </div>
              </div>
            </div>
            <mat-paginator [length]="totalElements"
                           [pageSizeOptions]="[3, 6, 9, 90]"
                           aria-label="Select page"
                           (page)="nextPage($event)">
            </mat-paginator>
            <!--            <div class="readmorestyle-wrap">-->
            <!--              <a href="#" class="readallstyle reads1">Xem tất cả</a>-->
            <!--            </div>-->
          </div>
        </div>

      </div>
      <!-- (end) job board -->
      <!-- sidebar -->
      <div class="col-md-4 col-sm-12 col-12 clear-left">
        <div class="job-sidebar">
          <h2 class="widget-title">
            <span>Ngành nghề</span>
          </h2>
          <div class="catelog-list">
            <ul *ngFor="let element of fieldList; let a = index">
              <li>
                <a [routerLink]="" (click)="findByJob(a)">
                   <span class="cate-img">
                     <em >{{element}}</em>
                   </span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="job-sidebar">
          <div class="sb-banner">
            <img src="img/ads1.jpg" class="advertisement">
          </div>
        </div>
      </div>
      <!-- (end) sidebar -->
    </div>
  </div>
</div>
