<div class="container">
  <div class="row">
    <div class="col-12" style="margin-top: 20px">
      <h1 style="margin-left: 470px;margin-top: 10px">Tạo hồ sơ</h1>
      <h4 style="margin-left: 350px;margin-top: 10px;color:red">{{status}}</h4>
      <mat-card style="margin: 50px 0">
        <form class="example-form" [formGroup]="employmentForm" (ngSubmit)="submit()">
          <input type="hidden" formControlName="id"/>
          <div class="Test2">
            <div class="Test">
                <input type="hidden"  formControlName="email"
                >

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Tên công ty</mat-label>
                <input type="text" formControlName="name" matInput [formControl]="name" [errorStateMatcher]="matcher"
                >
                <mat-hint>Errors appear instantly!</mat-hint>
                <!--    <mat-error *ngIf="emailFormControl1.hasError('minlength') && !emailFormControl1.hasError('maxlength')">-->
                <!--      Please enter a letter 6-8-->
                <!--    </mat-error>-->
                <mat-error *ngIf="name.hasError('required')">
                  Company is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Địa chỉ</mat-label>
                <input type="text" formControlName="address" matInput  [formControl]="address" [errorStateMatcher]="matcher">

              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Chi nhánh</mat-label>
                <mat-select formControlName="location" required>
                  <mat-option value="Miền bắc">Miền bắc</mat-option>
                  <mat-option value="Miền trung">Miền bắc</mat-option>
                  <mat-option value="Miền nam">Miền Nam</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field  class="example-full-width" appearance="fill">
                <mat-label>Lĩnh vực</mat-label>
                <mat-select formControlName="field" required>
                  <mat-option value="IT">IT</mat-option>
                  <mat-option value="Tài chính">Tài chính</mat-option>
                  <mat-option value="Ngân hàng">Ngân hàng</mat-option>
                  <mat-option value="Kinh doanh">Kinh doanh</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="Test">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Sô điện thoại</mat-label>
                <input type="number" formControlName="phone" matInput [formControl]="address" [errorStateMatcher]="matcher"
                >
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Số thành viên</mat-label>
                <input type="number" formControlName="staffNumber" matInput [formControl]="address" [errorStateMatcher]="matcher"
                >
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Năm thành lập</mat-label>
                <input type="text" formControlName="date" matInput  [formControl]="address" [errorStateMatcher]="matcher">

              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Link facebook</mat-label>
                <input type="text" formControlName="facebookLink" matInput  [formControl]="address" [errorStateMatcher]="matcher">
              </mat-form-field>
            </div>
            <div class="Test" style="margin-left: 130px">
              <h2>Mô tả bản thân</h2>
              <textarea style="width:300px" formControlName="description" matInput placeholder="Ex. It makes me feel..."></textarea>
              <input type="hidden"  formControlName="image" value="{{value}}">
              <h2 style="margin-top: 15px ;font-size: 14px">Ảnh đại diện</h2>
              <app-upload-avatar (giveURLtoCreate)="onChangeAvatar($event)"></app-upload-avatar>
              <input type="hidden"  formControlName="image1" value="{{value1}}">
              <h2 style="margin-top: 15px ;font-size: 14px">Ảnh bìa</h2>
              <app-upload-avatar (giveURLtoCreate)="onChangeAvatar1($event)"></app-upload-avatar>
              <input type="hidden"  formControlName="logo" value="{{value2}}">
              <h2 style="margin-top: 15px ;font-size: 14px">Logo</h2>
              <app-upload-avatar (giveURLtoCreate)="onChangeAvatar2($event)"></app-upload-avatar>
            </div>
          </div>
          <button style="margin-left: 380px" mat-raised-button color="primary">Đăng kí</button>
        </form>
      </mat-card>

    </div>
  </div>
</div>



