<div class="container">
  <div class="row; margin: auto;
  width: 50%;">
    <div class="col-12" style="padding-left: 160px ; margin: auto;
  width: 50% ; position: center">
      <mat-card style="">
        <h1>Tạo tin tuyển dụng mới:</h1>
        <form class="create-recruitmentPost" #f="ngForm" (ngSubmit)="f.form.valid &&ngSubmit()" novalidate>
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Title:</mat-label>
            <input matInput name="title" [(ngModel)]="form.title" #title="ngModel" required>
            <mat-error *ngIf="quantity.hasError('required')">Không được bỏ trống mục này</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Lương tối thiểu :</mat-label>
            <input type="number" matInput name="minSalary" [(ngModel)]="form.minSalary" #minSalary="ngModel" >
          </mat-form-field>
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Lương tối đa :</mat-label>
            <input type="number" matInput name="maxSalary" [(ngModel)]="form.maxSalary" #maxSalary="ngModel" >
          </mat-form-field>
          <br>
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Số lương tuyển :</mat-label>
            <input type="number" matInput name="quantity" [(ngModel)]="form.quantity" #quantity="ngModel"  required>
            <mat-error *ngIf="quantity.hasError('required')">Không được bỏ trống mục này</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Giới tính</mat-label>
            <mat-select name="gender" [(ngModel)]="form.gender" #gender="ngModel">
              <mat-option *ngFor="let gender of genders" [value]="gender.value">
                {{gender.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Kỹ năng:</mat-label>
            <input matInput name="skill" [(ngModel)]="form.skill" #skill="ngModel" >
          </mat-form-field>
          <br>
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Hình thức làm việc:</mat-label>
            <mat-select name="workType" [(ngModel)]="form.workType" #workType="ngModel">
              <mat-option *ngFor="let workType of workTypes" [value]="workType.value">
                {{workType.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Vị Trí:</mat-label>
            <input matInput name="position" [(ngModel)]="form.position" #position="ngModel" >
          </mat-form-field>
          <br>

          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Kinh nghiệm</mat-label>
            <mat-select name="experience" [(ngModel)]="form.experience" #experience="ngModel">
              <mat-option  *ngFor="let experience of experiences" [value]="experience.value">
                {{experience.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Thời hạn nộp đơn:</mat-label>
            <input name="date" matInput [matDatepicker]="picker" [(ngModel)]="form.date"  required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
          </mat-form-field>
          <br>
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Lĩnh vực:</mat-label>
            <input matInput name="field" [(ngModel)]="form.field" #field="ngModel" >
          </mat-form-field>
          <br>
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Địa điểm:</mat-label>
            <mat-select name="location" [(ngModel)]="form.location" #location="ngModel">
              <mat-option *ngFor="let location of locations" [value]="location.value">
                {{location.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Mô tả ngắn về công việc:</mat-label>
            <textarea name="description" [(ngModel)]="form.description" #description="ngModel" matInput placeholder="Viết mô tả ngắn về công việc"></textarea>
          </mat-form-field>
          <br>
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Yêu cầu với công việc:</mat-label>
            <textarea name="expectation" [(ngModel)]="form.expectation" #expectation="ngModel" matInput placeholder="Yêu cầu với ứng viên về công việc"></textarea>
          </mat-form-field>
          <br>
          <mat-error *ngIf="!check" class="alert alert-danger" style="text-align: center">{{nofi1}}</mat-error>
          <mat-error *ngIf="check" class="alert alert-warning">Tạo tin mới thành công. Tiếp tục tạo tin hoặc nhấn "Trở về" để quay lại trang chính</mat-error>
          <br>
          <button mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">Tạo tin
          </button>
          <button [routerLink]="'/recruitmentPostList'" mat-stroked-button color="accent"
                  class="mat-button-toggle-group btn-outline-alert">Back
          </button>
        </form>
      </mat-card>
    </div>
  </div>
</div>
