<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.4.95/css/materialdesignicons.css">

<div class="main-panel" *ngIf="Employment" >
  <div class="container" >


    <div class="row">
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="profile-card">

            <div class="profile-header">

              <div class="cover-image">
                <img src="{{Employment.image1}}" class="img img-fluid">
              </div>
              <div class="user-image">
                <img src="{{Employment.image}}" class="img ">
              </div>
            </div>

            <div class="profile-content">
              <div class="profile-name">{{Employment.name}}</div>
              <div class="profile-designation"> Không có gì là không thể </div>
              <ul class="profile-info-list">
                <a href="" class="profile-info-list-item"><i class="mdi mdi-eye"></i>Dòng thời gian</a>
                <a href="" class="profile-info-list-item"><i class="mdi mdi-bookmark-check"></i>Lưu trữ</a>
                <a href="" class="profile-info-list-item"><i class="mdi mdi-movie"></i>Hình ảnh</a>
                <a href="" class="profile-info-list-item"><i class="mdi mdi-account"></i>Thông tin</a>

              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title font-weight-bold">Thông tin</p>
            <a [routerLink]="['/listPost',Employment.id]"> <button type="button" style="margin-left: 50px" class="btn btn-success"><a>Tin tuyển dụng</a></button> </a>
            <hr>
            <p class="card-description">Thông tin doanh nghiệp</p>
            <ul class="about">
              <li class="about-items"><i class="mdi mdi-account icon-sm "></i><span class="about-item-name">Tên công ty:</span><span class="about-item-detail">{{Employment.name}}</span></li>
              <li class="about-items"><i class="mdi mdi-format-align-left icon-sm "></i><span class="about-item-name">FaceBook</span><span class="about-item-detail">{{Employment.facebookLink}}</span> </li>

            </ul>
            <p class="card-description">Thông tin liên hệ</p>
            <ul class="about">
              <li class="about-items"><i class="mdi mdi-phone icon-sm "></i><span class="about-item-name">Số điện thoại:</span><span class="about-item-detail">{{Employment.phone}}</span></li>
              <li class="about-items"><i class="mdi mdi-map-marker icon-sm "></i><span class="about-item-name">Địa chỉ:</span><span class="about-item-detail">{{Employment.address}}</span> </li>
              <li class="about-items"><i class="mdi mdi-map-marker icon-sm "></i><span class="about-item-name">Khu vực:</span><span class="about-item-detail">{{Employment.location}}</span> </li>
              <li class="about-items"><i class="mdi mdi-email-outline icon-sm "></i><span class="about-item-name">Email:</span><span class="about-item-detail"><a href="">{{Employment.email}}</a></span> </li>
              <li class="about-items"><i class="mdi mdi-web icon-sm "></i><span class="about-item-name">Site:</span><span class="about-item-detail"><a href="google.com">Employment.com.vn</a></span> </li>
            </ul>
            <p class="card-description">Thông tin cơ bản</p>
            <ul class="about">
              <li class="about-items"><i class="mdi mdi-cake icon-sm "></i><span class="about-item-name">Năm thành lập:</span><span class="about-item-detail">{{Employment.date}}</span></li>
              <li class="about-items"><i class="mdi mdi-account icon-sm "></i><span class="about-item-name">Số lượng thành viên:</span><span class="about-item-detail">{{Employment.staffNumber}}</span> </li>
              <li class="about-items"><i class="mdi mdi-clipboard-account icon-sm "></i><span class="about-item-name">Lĩnh vực:</span><span class="about-item-detail">{{Employment.field}}</span> </li>
              <!--              <li class="about-items"><i class="mdi mdi-water icon-sm "></i><span class="about-item-name">Blood Group:</span><span class="about-item-detail">AB+</span> </li>-->
              <li class="about-items"><i class="mdi mdi-human-male-female icon-sm "></i><span class="about-item-name">Mô tả công ty:</span><span class="about-item-detail">{{Employment.description}}</span> </li>
            </ul>


          </div>
        </div>
      </div>

    </div>
    </div>




  </div>
