<div class="main-panel" *ngIf="Employment" >
  <div class="container" >


    <div class="row">
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="profile-card">

            <div class="profile-header">

              <div class="cover-image">
                <img src="{{Employment.image1}}" class="img img-fluid">
              </div>
              <div class="user-image">
                <img src="{{Employment.image}}" class="img ">
              </div>
            </div>

            <div class="profile-content">
              <div class="profile-name">{{Employment.name}}</div>
              <div class="profile-designation"> Impossible is nothing </div>
              <p class="profile-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
              <ul class="profile-info-list">
                <a href="" class="profile-info-list-item"><i class="mdi mdi-eye"></i>Timeline</a>
                <a href="" class="profile-info-list-item"><i class="mdi mdi-bookmark-check"></i>Saved</a>
                <a href="" class="profile-info-list-item"><i class="mdi mdi-movie"></i>Medias</a>
                <a href="" class="profile-info-list-item"><i class="mdi mdi-account"></i>About</a>

              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title font-weight-bold">About</p>
            <a [routerLink]="['/listPost',Employment.id]"> <button type="button" style="margin-left: 50px" class="btn btn-success"><a>Tin tuyển dụng</a></button> </a>
            <hr>
            <p class="card-description">Employment Information</p>
            <ul class="about">
              <li class="about-items"><i class="mdi mdi-account icon-sm "></i><span class="about-item-name">Name:</span><span class="about-item-detail">{{Employment.name}}</span></li>
              <li class="about-items"><i class="mdi mdi-format-align-left icon-sm "></i><span class="about-item-name">FaceBook</span><span class="about-item-detail">{{Employment.facebookLink}}</span> </li>

            </ul>
            <p class="card-description">Contact Information</p>
            <ul class="about">
              <li class="about-items"><i class="mdi mdi-phone icon-sm "></i><span class="about-item-name">Phone:</span><span class="about-item-detail">{{Employment.phone}}</span></li>
              <li class="about-items"><i class="mdi mdi-map-marker icon-sm "></i><span class="about-item-name">Address:</span><span class="about-item-detail">{{Employment.address}}</span> </li>
              <li class="about-items"><i class="mdi mdi-map-marker icon-sm "></i><span class="about-item-name">Location:</span><span class="about-item-detail">{{Employment.location}}</span> </li>
              <li class="about-items"><i class="mdi mdi-email-outline icon-sm "></i><span class="about-item-name">Email:</span><span class="about-item-detail"><a href="">{{Employment.email}}</a></span> </li>
              <li class="about-items"><i class="mdi mdi-web icon-sm "></i><span class="about-item-name">Site:</span><span class="about-item-detail"><a href="google.com">Employment.com.vn</a></span> </li>
            </ul>
            <p class="card-description">Basic Information</p>
            <ul class="about">
              <li class="about-items"><i class="mdi mdi-cake icon-sm "></i><span class="about-item-name">Found:</span><span class="about-item-detail">{{Employment.date}}</span></li>
              <li class="about-items"><i class="mdi mdi-account icon-sm "></i><span class="about-item-name">Members:</span><span class="about-item-detail">{{Employment.staffNumber}}</span> </li>
              <li class="about-items"><i class="mdi mdi-clipboard-account icon-sm "></i><span class="about-item-name">Field:</span><span class="about-item-detail">{{Employment.field}}</span> </li>
              <!--              <li class="about-items"><i class="mdi mdi-water icon-sm "></i><span class="about-item-name">Blood Group:</span><span class="about-item-detail">AB+</span> </li>-->
              <li class="about-items"><i class="mdi mdi-human-male-female icon-sm "></i><span class="about-item-name">Description:</span><span class="about-item-detail">{{Employment.description}}</span> </li>
            </ul>


          </div>
        </div>
      </div>

    </div>
    </div>




  </div>
