<div *ngIf="recruitmentPost" style="height: 800px">
  <div *ngIf="employment">
    <div class="clearfix"></div>
    <!-- job detail header -->
    <div class="container-fluid job-detail-wrap">
      <div class="container job-detail">
        <div class="job-detail-header">
          <div class="row">
            <div class="col-md-2 col-sm-12 col-12">
              <div class="job-detail-header-logo">
                <a href="#">
                  <img src="{{recruitmentPost.logo}}" class="job-logo-ima" alt="job-logo">
                </a>
              </div>
            </div>
            <div class="col-md-7 col-sm-12 col-12">
              <div class="job-detail-header-desc">
                <div class="job-detail-header-title">
                  <h2>{{recruitmentPost.title}}</h2>
                </div>
                <div class="job-detail-header-company">
                  <a href="#">{{employment.name}}</a>
                </div>
                <div class="job-detail-header-de">
                  <ul>
                    <li><i class="fa fa-map-marker icn-jd"></i><span>{{recruitmentPost.location}}</span></li>
                    <li *ngIf="!checkLogin1"><i class="fa fa-usd icn-jd"></i><span>{{recruitmentPost.minSalary}} </span>
                      - <span>{{recruitmentPost.maxSalary}}</span></li>
                    <li *ngIf="checkLogin1"><i class="fa fa-usd icn-jd"></i><a [routerLink]="['/login']">Đăng
                      nhập để nhìn thấy mức lương</a></li>
                    <li><i class="fa fa-calendar icn-jd"></i><span>{{recruitmentPost.date}}</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12 col-12">
              <div class="jd-header-wrap-right">
                <div class="jd-center">
                  <a *ngIf="checkLogin==3" [routerLink]="['/login']" class="btn btn-primary btn-apply">Đăng nhập để nộp
                    đơn</a>
                  <a *ngIf="checkLogin==1"  (click)="nopdon(recruitmentPost.id)" class="btn btn-primary btn-apply">Nộp đơn ngay</a>
                  <a *ngIf="checkLogin==4">Đã nộp đơn</a>
                  <!--              <p class="jd-view">Lượt xem: <span>1.520</span></p>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- (end) job detail header -->
    <div class="clearfix"></div>
    <!-- Phần thân -->
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <!-- Main wrapper -->
          <div class="col-md-8 col-sm-12 col-12 clear-left">
            <div class="main-wrapper">

              <h2 class="widget-title">l
                <span>Mô tả công việc</span>
              </h2>
              <div class="jd-content">
                {{recruitmentPost.description}}
              </div>
              <h2 class="widget-title">
                <span>Yêu cầu công việc</span>
              </h2>
              <div class="jd-content">
                {{recruitmentPost.expectation}}
              </div>
            </div>
          </div>
          <!-- Sidebar -->
          <div class="col-md-4 col-sm-12 col-12 clear-right">
            <div class="side-bar mb-3">
              <h2 class="widget-title">
                <span>Thông tin</span>
              </h2>

              <div class="job-info-wrap">
                <div class="job-info-list">
                  <div class="row">
                    <div class="col-sm-4">
                      <span class="ji-title">Nơi làm việc:</span>
                    </div>
                    <div class="col-sm-8">
                      <span class="ji-main">{{recruitmentPost.location}}</span>
                    </div>
                  </div>
                </div>

                <div class="job-info-list">
                  <div class="row">
                    <div class="col-sm-4">
                      <span class="ji-title">Cấp bậc:</span>
                    </div>
                    <div class="col-sm-8">
                      <span class="ji-main">Nhân viên</span>
                    </div>
                  </div>
                </div>

                <div class="job-info-list">
                  <div class="row">
                    <div class="col-sm-4">
                      <span class="ji-title">Lương:</span>
                    </div>
                    <div class="col-sm-8">
                      <span *ngIf="!checkLogin1" class="ji-main">{{recruitmentPost.minSalary}}$ - {{recruitmentPost.maxSalary}}$</span>
                      <a *ngIf="checkLogin1" [routerLink]="['/login']"> Đăng nhập để xem mức lương</a>
                    </div>
                  </div>
                </div>

                <div class="job-info-list">
                  <div class="row">
                    <div class="col-sm-4">
                      <span class="ji-title">Hạn nộp:</span>
                    </div>
                    <div class="col-sm-8">
                      <span class="ji-main">{{recruitmentPost.date}}</span>
                    </div>
                  </div>
                </div>

                <div class="job-info-list">
                  <div class="row">
                    <div class="col-sm-4">
                      <span class="ji-title">Ngành nghề:</span>
                    </div>
                    <div class="col-sm-8">
                      <span class="ji-main">{{recruitmentPost.field}}</span>
                    </div>
                  </div>
                </div>

                <div class="job-info-list">
                  <div class="row">
                    <div class="col-sm-4">
                      <span class="ji-title">Kỹ năng:</span>
                    </div>
                    <div class="col-sm-8">
                      <span class="ji-main">{{recruitmentPost.skill}}</span>
                    </div>
                  </div>
                </div>

                <div class="job-info-list">
                  <div class="row">
                    <div class="col-sm-4">
                      <span class="ji-title">Kinh nghiệm:</span>
                    </div>
                    <div class="col-sm-8">
                      <span class="ji-main">{{recruitmentPost.experience}}</span>
                    </div>
                  </div>
                </div>
              </div>


            </div>

            <div class="side-bar mb-3">
              <h2 class="widget-title">
                <span>Giới thiệu công ty</span>
              </h2>
              <div class="company-intro">
                <a href="#">
                  <img src="{{recruitmentPost.logo}}" class="job-logo-ima" alt="job-logo">
                </a>
              </div>
              <h2 class="company-intro-name">{{recruitmentPost.nameEmployer}}</h2>
              <ul class="job-add">
                <li>
                  <i class="fa fa-map-marker ja-icn"></i>
                  <span>{{employment.address}} </span>
                </li>
                <li>
                  <i class="fa fa-bar-chart ja-icn"></i>
                  <span>Quy mô công ty: {{employment.staffNumber}}</span>
                </li>
              </ul>

              <div class="wrap-comp-info mb-2">
                <a [routerLink]="['/detail-employment',employment.id]" class="btn btn-primary btn-company">Xem thêm</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- (end) Phần thân -->
  </div>
</div>
