<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.4.95/css/materialdesignicons.css">

<!-- partial -->
<div class="main-panel">
  <div class="container" *ngIf="UserProfile">


    <div class="row" >
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="profile-card">

            <div class="profile-header">

              <div class="cover-image">
                <img src="{{UserProfile.image1}}" class="img img-fluid">
              </div>
              <div class="user-image">
                <img src="{{UserProfile.image}}" class="img ">
              </div>
            </div>

            <div class="profile-content">
              <div class="profile-name">{{UserProfile.name}}</div>
              <div class="profile-designation">{{UserProfile.motto}}</div>
              <ul class="profile-info-list">
                <a href="" class="profile-info-list-item"><i class="mdi mdi-eye"></i>Dòng thời gian</a>
                <a href="" class="profile-info-list-item"><i class="mdi mdi-bookmark-check"></i>Lưu trữ</a>
                <a href="" class="profile-info-list-item"><i class="mdi mdi-movie"></i>Ảnh</a>
                <a href="" class="profile-info-list-item"><i class="mdi mdi-account"></i>Thông tin</a>

              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title font-weight-bold">Thông tin</p>
            <hr>
            <p class="card-description">Thông tin ứng viên</p>
            <ul class="about">
              <li class="about-items"><i class="mdi mdi-account icon-sm "></i><span class="about-item-name">Tên ứng viên:</span><span class="about-item-detail">{{UserProfile.name}}</span></li>

            </ul>
            <p class="card-description">Thông tin liên hệ</p>
            <ul class="about">
              <li class="about-items"><i class="mdi mdi-phone icon-sm "></i><span class="about-item-name">Số điện thoại:</span><span class="about-item-detail">{{UserProfile.phone}}</span></li>
              <li class="about-items"><i class="mdi mdi-map-marker icon-sm "></i><span class="about-item-name">Địa chỉ:</span><span class="about-item-detail">{{UserProfile.address}}</span> </li>
              <li class="about-items"><i class="mdi mdi-web icon-sm "></i><span class="about-item-name">Mức lương mong muốn</span><span class="about-item-detail"><a href="google.com">{{UserProfile.desiredSalary}}</a></span> </li>
            </ul>
            <p class="card-description">Thông tin cơ bản</p>
            <ul class="about">
              <li class="about-items"><i class="mdi mdi-cake icon-sm "></i><span class="about-item-name">Ngày sinh nhật:</span><span class="about-item-detail">{{UserProfile.age}}</span></li>
              <li class="about-items"><i class="mdi mdi-account icon-sm "></i><span class="about-item-name"> Gioi Tính :</span><span class="about-item-detail">{{UserProfile.gender}}</span> </li>
              <li class="about-items"><i class="mdi mdi-clipboard-account icon-sm "></i><span class="about-item-name">Trình độ:</span><span class="about-item-detail">{{UserProfile.level}}</span> </li>
              <li class="about-items"><i class="mdi mdi-water icon-sm "></i><span class="about-item-name">Lĩnh vực</span><span class="about-item-detail">{{UserProfile.field}}</span> </li>
              <li class="about-items"><i class="mdi mdi-clipboard-account icon-sm "></i><span class="about-item-name">Mô tả bản thân:</span><span class="about-item-detail">{{UserProfile.description}}</span> </li>
              <li class="about-items"><i class="mdi mdi-human-male-female icon-sm "></i><span class="about-item-name">Tình trạng bản thân:</span><span class="about-item-detail">Độc thân vui tính</span> </li>
            </ul>


          </div>
        </div>
      </div>

    </div>
  </div>
</div>


