.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  margin-left: 100px;
}
.container{
  margin-left: 100px;
  margin-top: 50px;
  width: 100%;
  background-color: darkseagreen;

}
.Test2{
  display :flex;
}
.Test{
  margin-left:10px
}
