
<div class="clearfix"></div>

<!-- main banner-->
<div class="container-fluid clear-left clear-right">
  <div class="main-banner">
    <div class="banner-image">
      <img src="../../assets/img/banner2.jpg" height="503" width="1789" alt="banner-image"/>
    </div>
  </div>
  <div class="banner-content">
    <h3> Công việc cho mọi người</h3>
  </div>
</div>
<!-- (end) main banner-->

<!-- search section -->
<!--<div class="container-fluid search-fluid">-->
<!--  <div class="container">-->
<!--    <div class="search-wrapper" style="margin-top: -11rem;">-->

<!--      <ul class="nav nav-tabs search-nav-tabs" id="myTab" role="tablist">-->
<!--        <li class="nav-item search-nav-item">-->
<!--          <a class="nav-link snav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Tìm việc làm</a>-->
<!--        </li>-->
<!--        <li class="nav-item search-nav-item">-->
<!--          <a class="nav-link snav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Tìm công ty</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <div class="tab-content search-tab-content" id="myTabContent">-->
<!--        &lt;!&ndash; content tab 1 &ndash;&gt;-->
<!--        <div class="tab-pane stab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">-->
<!--          <form class="bn-search-form">-->
<!--            <div class="row">-->
<!--              <div class="col-md-10 col-sm-12">-->
<!--                <div class="row">-->
<!--                  <div class="col-md-5">-->
<!--                    <div class="input-group s-input-group">-->
<!--                      <input #element1 type="text" class="form-control sinput" placeholder="Nhập kỹ năng, công việc,...">-->
<!--                      <span><i class="fa fa-search"></i></span>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col-md-4">-->
<!--                    <select #element id="computer-languages">-->
<!--                      <option value="" selected hidden >Nhập lương mong muốn</option>-->
<!--                      <option value="5">Từ 5-10 triệu</option>-->
<!--                      <option value="10">Từ 10-15 triệu</option>-->
<!--                      <option value="15">Từ 15-20 triệu</option>-->
<!--                      <option value="20">Từ 20-25 triệu</option>-->
<!--                      <option value="25">Từ 25-30 triệu</option>-->
<!--                      <option value="30">Trên 30 triệu</option>-->
<!--                    </select>-->
<!--                    <i class="fa fa-code sfa" aria-hidden="true"></i>-->
<!--                  </div>-->
<!--                  <div class="col-md-3">-->
<!--                    <select  id="s-provinces">-->
<!--                      <option value="" selected hidden >Tất cả địa điểm</option>-->
<!--                      <option>Đà Nẵng</option>-->
<!--                      <option>Hà Nội</option>-->
<!--                      <option>Hồ Chí Minh</option>-->
<!--                      <option>Buôn Ma Thuột</option>-->
<!--                      <option>Quy Nhơn</option>-->
<!--                      <option>Nha Trang</option>-->
<!--                    </select>-->
<!--                    <i class="fa fa-map-marker sfa" aria-hidden="true"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-2 col-sm-12">-->
<!--                <button (click)="dulieu(element1.value,element.value)" type="submit" class="btn btn-primary btn-search col-sm-12">Tìm kiếm</button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--        &lt;!&ndash; (end) content tab 1 &ndash;&gt;-->
<!--        &lt;!&ndash; content tab 2 &ndash;&gt;-->
<!--        <div class="tab-pane stab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">-->
<!--          <form class="bn-search-form">-->
<!--            <div class="row">-->
<!--              <div class="col-md-10 col-sm-12">-->
<!--                <div class="input-group s-input-group w-100">-->
<!--                  <input #element3 type="text" class="form-control sinput" placeholder="Nhập kỹ năng, công việc,...">-->
<!--                  <span><i class="fa fa-search"></i></span>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-2 col-sm-12">-->
<!--                <button  type="submit" class="btn btn-primary btn-search col-sm-12">Tìm kiếm</button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--        &lt;!&ndash; (end) content tab 2 &ndash;&gt;-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<app-search></app-search>

<!-- job board & sidebar section  -->
<app-job-board></app-job-board>
<!-- (end) job board & sidebar section  -->

<!--<div class="clearfix"></div>-->

<!--&lt;!&ndash; job board v2 &ndash;&gt;-->
<!--&lt;!&ndash; (end) job board v2 &ndash;&gt;-->

<!--<div class="clearfix"></div>-->

<!-- top employer -->
<div class="container-fluid">
  <div class="container top-employer">
    <div class="row">
      <div class="col-md-12 top-employer-contain">
        <div class="col-md-12 job-board2-wrap-header">
          <h3 style="text-align: center">Nhà tuyển dụng nhu cầu cao nhất</h3>
        </div>
        <div class="row">
          <div *ngFor=" let employer of employers" class="col-md-3 col-sm-6 col-12 top-employer-wrap">
            <div class="top-employer-item">
              <a [routerLink]="['/detail-employment',employer.id]">
                <div class="emp-img-thumb">
                  <img src="https://i.imgur.com/ZSkeqnd.jpg">
                </div>
                <h3 class="company">{{employer.name}}</h3>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- (end) top employer -->
<div class="clearfix"></div>

<div class="clearfix"></div>


<!-- job-best-salary -->
<div class="container-fluid">
  <div class="container job-best-salary">
    <div class="row">
      <div class="col-md-12 job-board2-wrap-header job-best-salary-header">
        <h3><i class="fa fa-briefcase pr-2"></i> Việc làm Hot nhất</h3>
      </div>
    </div>
    <div class="row job-best-salary-inner" style="height: 50%">
      <div class="col-md-6 job-over-item" *ngFor="let recruitmentPost of recruitmentPost2">
        <div class="job-inner-over-item">
          <a [routerLink]="['/detail-recruitmentPost',recruitmentPost.id]">
            <div class="thumbnail">
              <img src="{{recruitmentPost.logo}}" alt="company logo image">
            </div>
            <div class="content">
              <div class="job-name" >
                {{recruitmentPost.title}}
              </div>
              <a [routerLink]="['/detail-recruitmentPost',recruitmentPost.id]" class="company">
                {{recruitmentPost.nameEmployer}}
              </a>
            </div>
            <div class="extra-info">
              <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
              <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- (end) job-best-salary -->


<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="home-ads">
          <a href="#">
            <img src="assets/img/hna.jpg">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- job-best-salary -->
<div class="container-fluid">
  <div class="container job-best-salary">
    <div class="row">
      <div class="col-md-12 job-board2-wrap-header job-best-salary-header">
        <h3><i class="fa fa-briefcase pr-2"></i> Việc làm lương cao</h3>
      </div>
    </div>
    <div class="row job-best-salary-inner" style="height: 50%;" >
      <div class="col-md-6 job-over-item" *ngFor="let recruitmentPost of recruitmentPost1">
        <div class="job-inner-over-item">
          <a [routerLink]="['/detail-recruitmentPost',recruitmentPost.id]">
            <div class="thumbnail">
              <img src="{{recruitmentPost.logo}}" alt="company logo image">
            </div>
            <div class="content">
              <div class="job-name">
                {{recruitmentPost.title}}
              </div>
              <a [routerLink]="['/detail-recruitmentPost',recruitmentPost.id]" class="company">
                {{recruitmentPost.nameEmployer}}
              </a>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- (end) job-best-salary -->

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="home-ads">
          <a href="#">
            <img src="assets/img/hna2.jpg">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<!-- news -->

<!-- (end) news -->

<!-- job support -->
<div class="container-fluid job-support-wrapper">
  <div class="container-fluid job-support-wrap">
    <div class="container job-support">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-12">
          <ul class="spp-list">
            <li>
              <span><i class="fa fa-question-circle pr-2 icsp"></i>Hỗ trợ nhà tuyển dụng:</span>
            </li>
            <li>
              <span><i class="fa fa-phone pr-2 icsp"></i>0123.456.789</span>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-12 col-12">
          <div class="newsletter">
            <span class="txt6">Đăng ký nhận bản tin việc làm</span>
            <div class="input-group frm1">
              <input type="text" placeholder="Nhập email của bạn" class="newsletter-email form-control">
              <a href="#" class="input-group-addon"><i class="fa fa-lg fa-envelope-o colorb"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- (end) job support -->

<!-- footer -->
<div class="container-fluid footer-wrap  clear-left clear-right">
  <div class="container footer">
    <div class="row">
      <div class="col-md-4 col-sm-8 col-12">
        <h2 class="footer-heading">
          <span>About</span>
        </h2>
        <p class="footer-content">
          Discover the best way to find houses, condominiums, apartments and HDBs for sale and rent in Singapore with JobsOnline, Singapore's Fastest Growing Jobs Portal.
        </p>
        <ul class="footer-contact">
          <li>
            <a href="#">
              <i class="fa fa-phone fticn"></i> +123 456 7890
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-envelope fticn"></i>
              hello@123.com
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-map-marker fticn"></i>
              33 Xô Viết Nghệ Tĩnh, Đà Nẵng
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-4 col-12">
        <h2 class="footer-heading">
          <span>Ngôn ngữ nổi bật</span>
        </h2>
        <ul class="footer-list">
          <li><a href="#">Javascript</a></li>
          <li><a href="#">Java</a></li>
          <li><a href="#">Frontend</a></li>
          <li><a href="#">SQL Server</a></li>
          <li><a href="#">.NET</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 col-12">
        <h2 class="footer-heading">
          <span>Tất cả ngành nghề</span>
        </h2>
        <ul class="footer-list">
          <li><a href="#">Lập trình viên</a></li>
          <li><a href="#">Kiểm thử phần mềm</a></li>
          <li><a href="#">Kỹ sư cầu nối</a></li>
          <li><a href="#">Quản lý dự án</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 col-12">
        <h2 class="footer-heading">
          <span>Tất cả hình thức</span>
        </h2>
        <ul class="footer-list">
          <li><a href="#">Nhân viên chính thức</a></li>
          <li><a href="#">Nhân viên bán thời gian</a></li>
          <li><a href="#">Freelancer</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-12 col-12">
        <h2 class="footer-heading">
          <span>Tất cả tỉnh thành</span>
        </h2>
        <ul class="footer-list">
          <li><a href="#">Hồ Chính Minh</a></li>
          <li><a href="#">Hà Nội</a></li>
          <li><a href="#">Đà Nẵng</a></li>
          <li><a href="#">Buôn Ma Thuột</a></li>
        </ul>
      </div>


    </div>
  </div>
</div>

<footer class="container-fluid copyright-wrap">
  <div class="container copyright">
    <p class="copyright-content">
      Copyright © 2020 <a href="#"> Tech<b>Job</b></a>. All Right Reserved.
    </p>
  </div>
</footer>
